.ml-header {
	background-color: var(--yellow);

	&__inner,
	&__form {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__inner {
		max-width: var(--max-width);
		margin-inline: auto;
		padding-block: 10px;
	}

	&__form {
		--input-border-radius: var(--border-radius);

		&,
		&-search-input {
			flex-grow: 1;
		}

		&-search-input {
			border-bottom-left-radius: var(--input-border-radius);
			border-top-left-radius: var(--input-border-radius);
			border: none;
			margin-left: 25px;
			padding: 12px;
			font-size: 16px;
			color: var(--black);

			&:focus {
				outline: none;
				border: none;
				box-shadow: none;
			}

			&::placeholder {
				color: var(--mid-gray);
			}
		}

		&-submit {
			border: none;
			outline: none;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-top-right-radius: var(--input-border-radius);
			border-bottom-right-radius: var(--input-border-radius);
			padding-inline: 15px;
			background: white;
			cursor: pointer;
			transition: all 0.2s;
			height: 43px;
			background: var(--light-gray);

			img {
				width: 20px;
				height: 20px;
			}
		}
	}
}
