.ml-breadcrumb {
	display: flex;
	align-items: center;

	list-style: none;
	padding: 0;
	margin-bottom: var(--small-gap);
	&__item {
		color: #999;
		font-size: 14px;

		&:not(:first-child) {
			margin-left: 8px;
			display: flex;
			align-items: center;
			&::before {
				content: url("/assets/icons/chevron.svg");
				display: block;

				font-size: 16px;
				margin-right: 8px;
			}
		}
	}
}
